nav {
  background-color: burlywood;
}

#welcome {
  background-color: cornflowerblue;
  text-align: center;
  text-decoration: solid;
  text-shadow: rgb(145, 88, 13);
}

li {
  list-style-type: none;
}

main {
  color: aliceblue;
}

body {
  background-color: cadetblue;
}

img {
  border-radius: 50%;
}

header li {
  display: inline;
}

header li a {
  display: block;
  width: 60px;
}

#news h1 {
  text-decoration: dashed;
  text-shadow: rgb(145, 88, 13);
  color: black;
}

#our-team p li {
  text-align: center;
  text-decoration: double;
}

#our-team img {
  text-align: center;
  border-bottom-left-radius: 30%;
  width: 150px;
  position: relative;
  border-color: crimson;
}

.new {
  text-align: center;

  border: 2px solid #0066ff;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border: 2px solid #0066FF;  
 
  background-color:#FFCC33;  
  padding: 5px; 
}

#location {
  text-align: center;
  background-color: cadetblue;
}

#about-news {
  background-color: cadetblue;
  text-align: center;
}

header {
  background-color: rgb(11, 66, 167);
}

body {
  color: rgb(145, 88, 13);
  font-family: "League Gothic", sans-serif;
  font-family: "Titan One", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Titan+One&display=swap");

h1 {
  color: white;
  text-align: center;
}

footer {
  background-color: rgb(11, 66, 167);
  text-align: center;
  text-decoration-color: rgba(15, 1, 1, 0.808);
}

#location {
  background-color: rgb(11, 66, 167);
}

#about {
  text-align: center;
}

#about-section {
  color: rgb(26, 23, 23);
  text-align: center;
}

#our-team li {
  border-block-style: red;
  list-style-type: none;
}

.people {
  border-block-style: red;
  border: 13px;
}
